<% content_for :left_side do %>
    <div class="white-text">
        <h1>Your Recipes On Our Menu</h1>
        <hr>
        <h6>Send us your best recipe, and we'll give you 10% of the profits per dish sold if your recipe is featured on our menu!</h6>
        <br>
    </div>

<% end %>


<% content_for :right_side do %>
<div class="card">
    <div class="card-body">
        <!--Header-->
        <div class="text-center">
            <h3 class="white-text"><i class="fa fa-user white-text"></i> Login:</h3>
            <hr>
        </div>

        <%= form_with url: sessions_path, local: true do |f| %>

        <div class="md-form">
            <%= f.text_field :email, :id => "form2", :class => "form-control" %>
            <%= f.label :email, "Your email", :class => "active" %>
        </div>

        <div class="md-form">
            <%= f.password_field :password, :id => "form2", :class => "form-control" %>
            <%= f.label :password, "Your password", :class => "active" %>
        </div>

        <div class="text-center">
          <%= f.submit "Boom!", :class =>"btn btn-xl btn-outline-light" %>
            <!-- <button class="btn btn-indigo">Sign up</button> -->
             <hr class="hr-light mb-3 mt-4">

                <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                </div>
        </div>
        <p><%= link_to "Create an account", new_user_path %></p>
      <% end %>
      </div>
  </div>
<% end %>




