<% if @menu %>
<div class=" card wow fadeInLeft white-text center-text" id="menu" data-wow-delay="0.3s">
<div class="card-body">
  <h2 id="menu card-title">Today's Menu</h2>
  <p class="card-text">Appetizer: <%= @menu.appetizer.name%></p>
  <p class="card-text">Salad: <%= @menu.salad.name%></p>
  <p class="card-text">Main Course: <%= @menu.main_course.name%></p>
  <p class="card-text">Dessert: <%= @menu.dessert.name %></p>
  <%= button_to "View all Menus", menus_path, :id => "open-contacts-dialog-btn",
      :class => "btn btn-xl btn-outline-light", :method => :get %>
</div>
</div>
<% end %>
