<div class="recipe-show container">
  <h2>Menu for <%= @menu.date %></h2>
  <p>Appetizer: <%= @menu.appetizer.name%></p>
  <p>Salad: <%= @menu.salad.name%></p>
  <p>Main Course: <%= @menu.main_course.name%></p>
  <p>Dessert: <%= @menu.dessert.name %></p>
  <!-- <p><%#= link_to "Edit this menu", edit_menu_path(@menu.id) %></p> -->
  <p><%= link_to "All menus", menus_path %></p>
</div>


