<%= form_for @recipe do |f| %>
  <!-- <#%= render 'shared/error_messages' %> -->
  <div>
    <%= f.label :category %>
    <!-- <#%= f.select :category, @category_names, :prompt => 'Select One' %> -->
    <!-- <#%= f.collection_select(:recipe, :category_id, Category.all, -->
                  <!-- :id, -->
                 <!-- {:prompt => 'Please select the author of this post'}) %> -->
    <%= f.collection_select(:category_id, Category.all, :id, :name) %>
  </div>
  <div>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :difficulty, "Difficulty" %>
    <%= f.number_field :difficulty, min: 0, max: 5 %>
  </div>
  <div>
    <%= f.label :prep_time, "Prep time" %>
    <%= f.number_field :prep_time, min: 0, max: 300 %>
  </div>
  <div>
    <%= f.label :ingredients, "Ingredients" %>
    <%= f.text_area :ingredients %>
  </div>
  <div>
    <%= f.label :directions, "Directions" %>
    <%= f.text_area :directions %>
  </div>
  <div>
    <%= f.submit yield(:button_text) %>
  </div>
<% end %>
