<div>
  <h1><%= @recipe.category.name %></h1>
  <h2><%= @recipe.name %></h2>
  <h2>Submitted by: <%= @recipe.user.username %></h2>
  <p>Difficulty level: <%= @recipe.difficulty %></p>
  <p>Prep time: <%= @recipe.prep_time %></p>
  <p>Ingredients: <%= @recipe.ingredients %></p>
  <p>Directions: <%= @recipe.directions %></p>
</div>
