   <!--Form-->


  <!--Body-->
  <%= form_for @user do |f| %>

    <% if @user.errors.any? %>
      <div class="#">
        <h4>
          <%=pluralize(@user.errors.count, "error") %> prohibited you from signing up:
        </h4>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg  %></li>
          <% end %>
        </ul>
      </div>
   <% end %>
  <div class="md-form">
      <%= f.text_field :username, :id => "form3", :class => "form-control"  %>
      <%= f.label :username, "Your username", :class => "active" %>
  </div>
  <div class="md-form">
      <%= f.text_field :email, :id => "form2", :class => "form-control" %>
      <%= f.label :email, "Your email", :class => "active" %>
  </div>

  <div class="md-form">
      <%= f.password_field :password, :id => "form2", :class => "form-control" %>
      <%= f.label :password, "Your password", :class => "active" %>
  </div>

  <div class="md-form">
      <%= f.password_field :password_confirmation, :id => "form2", :class => "form-control" %>
      <%= f.label :password_confirmation, "Confirm your password", :class => "active" %>
  </div>

  <div class="text-center">
    <%= f.submit "Boom!", :class =>"btn btn-indigo" %>
      <!-- <button class="btn btn-indigo">Sign up</button> -->
       <hr class="hr-light mb-3 mt-4">

          <div class="inline-ul text-center d-flex justify-content-center">
              <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
              <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
              <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
          </div>
  </div>
<% end %>

