<!DOCTYPE html>
<html lang="en" class="full-height">

  <head>
    <title>DevKitchen</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css"
      rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>

  </head>

  <body>


<header>

    <!--Main Navigation-->
    <%= render "layouts/header" %>

    <!--Intro Section-->
    <%= render "layouts/registration" %>


</header>

    <% flash.each do |message_type, message| %>
      <div><%= message %></div>
    <% end %>

    <%= yield %>


    <script type= "text/javascript">
        new WOW().init();
    </script>
  </body>
</html>


